.content{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: flex-start;
}

.ordersList { 
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  flex-basis: 1px;
  flex-grow:1;
}




.noOrders{
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-top:48px;
}
